body{
    background-size: cover;
    
    
    }
    .heading{
        font-family: 'Orbitron', sans-serif;
        font-size: 20px;
        width: 100%;
        margin: 0px;
    color: white;
   
    }
    #start,#status,#no_of_objects{
      font-size: 18px;
    
    }
    .copy_right_footer{
    
    position: fixed;
    color: gray;
    bottom: 0;
    background-color: white;
    line-height: 3;
    text-align:center;
    width: 100%;
    } 
    canvas{
    
        border: 2px solid white;
        border-radius: 10px;
        margin-top: 130px;
        box-shadow: 5px 5px 5px white;
    
    }
    .headding{
        font-family: 'Orbitron', sans-serif;
        font-size: 20px;
        width: 100%;
     
    color: white;
   margin-bottom:10px ;
    }